@tailwind base;
@tailwind components;
@tailwind utilities;

/* input number array remove */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
* ফায়ারফক্সে স্পিনার অপসারণ করতে */
input[type="number"] {
    -moz-appearance: textfield; 
  }